extends layout

block head
  // homepage CSS file
  link(rel="stylesheet" href="/css/home.min.css?v=1")

block content
  #body
    nav#nav.size-limit-nav
      a(href="/" title="homepage")#logo-nav
        img#logo-img(src="/img/nav-logo.png")
      ul#nav-links
        li#login-button
          a(href="/login")=name
    section#header.white-background
      //- div#site-accent
      h1.heading.size-limit-dashboard-heading
        | Welcome to your Revil dashboard, #[span=name]
      div#dsh-left-card.dsh-card
        h3.dsh-card-heading Here's something that might interest you
        h3.event-title.event-description #[em Title:] Calgary Innovation Challenge 2018
        h4.event-title.event-description #[em Where:] 800 Macleod Trail SE, Calgary
        h4.event-title.event-description #[em When:] March 10 - March 11, 2018
      div#dsh-right-card.dsh-card
        h4.dsh-card-heading Details
        h4.event-title.event-description #[em Where:] 800 Macleod Trail SE, Calgary
        a(target="_blank" href="https://www.eventbrite.ca/e/mayors-youth-council-innovation-challenge-tickets-42025630793" title="where")
          img#map-img(alt="map to show location" src="http://localhost:7000/img/map.png")
        a(href="#")#like like
        a(href="#")#dislike dislike
      
block footer
  footer#footer
    p#copyright Revil &#169; 2018