extends layout

block head
  // homepage CSS file
  link(rel="stylesheet" href="/css/home.min.css?v=1")

block content
  #body
    nav#nav.size-limit-nav
      a(href="/" title="homepage")#logo-nav
        img#logo-img(src="/img/nav-logo.png")
      ul#nav-links
        li
          a(href="/dashboard/abdullah") Dashboard
        li
          a(href="/register") Register
        li#login-button
          a(href="/login") Login
    section#header
      //- div#site-accent
      h1.heading.size-limit-heading Revil
      hr
      p#about-text.size-limit-about
        | #[strong Revil is a web based application] that allows youth to discover and engage in fresh local opportunities and activities curated individually for them!
      
block footer
  footer#footer
    p#copyright Revil &#169; 2018