extends layout

block head
  // homepage CSSS file
  link(rel="stylesheet" href="/css/home.min.css?v=1")

block content
  #body
    section#header
      h1.heading.size-limit-heading Revil
    section#about
      h1.heading.size-limit-heading#about-heading About