html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    meta(name="author" content=author)
    meta(name="description" content=description)
    // normalize.css for a consistent cross-browser CSS reset
    link(rel="stylesheet" href="/css/normalize.min.css")
    // website favicon
    link(rel="icon" href="/img/favicon.png?v=1")
    // main CSS file (rendered on all pages)
    link(rel="stylesheet" href="/css/styles.min.css?v=1")
    block head

  body
    noscript
      <h2>Please <a href="https://enable-javascript.com/" rel="noopener" target="_blank">enable JavaScript on your browser</a> to experience Revil to the fullest extent.</h2>
    block content
      
    block footer

    block scripts
