section
  width: 100%
  height: 100vh

#header
  background: #7B38E0
  color: gainsboro
  display: flex
  align-items: center
  text-align: center
  justify-content: center

#about
  background: #E6731E
  display: flex
  // align-items: center
  padding-top: 50px
  text-align: center
  justify-content: center

#about-heading
  margin-top: 20px